.elementor-16810 .elementor-element.elementor-element-34aea99:not(.elementor-motion-effects-element-type-background), .elementor-16810 .elementor-element.elementor-element-34aea99 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-16810 .elementor-element.elementor-element-34aea99 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 35px 39px 35px;
}

.elementor-16810 .elementor-element.elementor-element-34aea99 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-16810 .elementor-element.elementor-element-92b6d3a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-16810 .elementor-element.elementor-element-92b6d3a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-16810 .elementor-element.elementor-element-92b6d3a > .elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-16810 .elementor-element.elementor-element-7ca6c1f {
    width: auto;
    max-width: auto;
}

.elementor-16810 .elementor-element.elementor-element-7ca6c1f > .elementor-widget-container {
    margin: 0px 49px 0px 0px;
}

.elementor-16810 .elementor-element.elementor-element-7ca6c1f .pxl-menu-hidden-sidebar .pxl-menu-button .pxl-anchor--title {
    color: #FFFFFF;
}

.elementor-16810 .elementor-element.elementor-element-7ca6c1f .pxl-menu-hidden-sidebar .pxl-menu-button {
    width: 74px;
    height: 74px;
    border-style: solid !important;
    border-color: #FFFFFF26 !important;
}

.elementor-16810 .elementor-element.elementor-element-15fcf70 {
    width: auto;
    max-width: auto;
}

.elementor-16810 .elementor-element.elementor-element-15fcf70 .pxl-logo img {
    max-height: 62px;
}

.elementor-bc-flex-widget .elementor-16810 .elementor-element.elementor-element-6000a69.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-16810 .elementor-element.elementor-element-6000a69.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-16810 .elementor-element.elementor-element-6000a69.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-16810 .elementor-element.elementor-element-6000a69 > .elementor-element-populated {
    padding: 0px 15px 0px 0px;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f {
    width: auto;
    max-width: auto;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a:not(:hover) {
    color: #FFFFFF;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a:hover {
    color: #FFFFFF;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a {
    font-size: 15px;
    font-weight: 400;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link.type-horizontal li {
    margin-right: 22px;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a:hover i {
    color: #111111 !important;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a i, .elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a svg {
    background-color: #FFFFFF1A;
}

.elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a:hover i, .elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a:hover svg {
    background-color: #FFFFFF;
}

.elementor-16810 .elementor-element.elementor-element-be0dc97 {
    width: auto;
    max-width: auto;
}

.elementor-16810 .elementor-element.elementor-element-be0dc97 > .elementor-widget-container {
    margin: 0px 0px 0px 61px;
}

.elementor-16810 .elementor-element.elementor-element-be0dc97 .pxl-language-switch .language-first {
    color: #FFFFFF;
}

.elementor-16810 .elementor-element.elementor-element-be0dc97 .pxl-language-switch {
    background-color: #FFFFFF00;
    border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: #FFFFFF26 !important;
}

.elementor-16810 .elementor-element.elementor-element-3a48752 {
    width: auto;
    max-width: auto;
}

.elementor-16810 .elementor-element.elementor-element-3a48752 > .elementor-widget-container {
    margin: 0px 0px 0px 16px;
}

.elementor-16810 .elementor-element.elementor-element-3a48752 .pxl-search-popup-button i {
    color: #FFFFFF !important;
}

.elementor-16810 .elementor-element.elementor-element-3a48752 .pxl-search-popup-button svg {
    fill: #FFFFFF !important;
}

.elementor-16810 .elementor-element.elementor-element-3a48752 .pxl-search-popup-button {
    border-color: #FFFFFF26 !important;
}

.elementor-16810 .elementor-element.elementor-element-3a48752 .pxl-search-popup-button.style-box {
    background-color: #FFFFFF00;
    border-radius: 50px 50px 50px 50px;
}

.elementor-16810 .elementor-element.elementor-element-3a48752 .pxl-search-popup-button.style-box-bd {
    background-color: #FFFFFF00;
    border-radius: 50px 50px 50px 50px;
}

@media (min-width: 768px) {
    .elementor-16810 .elementor-element.elementor-element-92b6d3a {
        width: 27.648%;
    }

    .elementor-16810 .elementor-element.elementor-element-6000a69 {
        width: 72.352%;
    }
}

@media (max-width: 1366px) {
    .elementor-16810 .elementor-element.elementor-element-34aea99 {
        padding: 30px 0px 39px 0px;
    }

    .elementor-16810 .elementor-element.elementor-element-7ca6c1f > .elementor-widget-container {
        margin: 0px 22px 0px 0px;
    }

    .elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link a {
        font-size: 13px;
    }

    .elementor-16810 .elementor-element.elementor-element-6e4939f .pxl-link.type-horizontal li {
        margin-right: 15px;
    }

    .elementor-16810 .elementor-element.elementor-element-be0dc97 > .elementor-widget-container {
        margin: 0px 0px 0px 20px;
    }
}